@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
    background: url("map.jpeg");
    background-size: cover;
}
h1{
    text-align: center;
    font-style: normal;
    color: rgb(255, 255, 255);
}

  a:hover{
    color: rgba(194, 199, 133, 0.845);
  }

h1{
      text-align: center;
      font-size: 3rem;
      color: rgb(235, 235, 163);
  }

a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-size: 1.2rem;
}
  
.vertical {
    border-left: 3px solid rgb(0, 0, 0);
    height: 75%;
    position:absolute;
    left: 50%;
}

.division{
    width: 100%;
}

.left{
    width: 50%;
    float: left;
}

.right{
    width: 50%;
    float: right;
}

h2{
    line-height: 0;
    font-size: 2.5rem;
    color: rgb(247, 247, 204);
    text-align: left;
    font-style: italic;
}

#p1{
    text-indent: 10%;
    color:white;
    text-align: justify;
    margin-right: 4%;
    font-size: 1.2rem;
}

#p2{
    text-indent: 10%;
    color:white;
    text-align: justify;
    margin-right: 4%;
    font-size: 1.2rem;
}

#p3{
    text-indent: 10%;
    color:white;
    text-align: justify;
    margin-right: 4%;
    font-size: 1.2rem;
}

#progicon{
    padding-left: 35%;
    height: 22%;
    width: auto;
}

#p4{
    text-indent: 10%;
    line-height: normal;
    color:white;
    text-align: justify;
    margin-right: 2%;
    font-size: 1.2rem;
    padding-left: 4%;
}

#p5{
    text-indent: 10%;
    color:white;
    text-align: justify;
    margin-right: 2%;
    font-size: 1.2rem;
    padding-left: 4%;
}

#p6{
    text-indent: 10%;
    color:white;
    text-align: justify;
    margin-right: 2%;
    font-size: 1.2rem;
    padding-left: 4%;
}

#opp{
    padding-left: 4%;
}

#cybsec{
    padding-left: 35%;
    padding-top: 5%;
    height: 18%;
    width: auto;
}

